<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class = "jumbotron">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>


  <div style='text-align:center'>
    <h1>
    <input [(ngModel)]="name" placeholder="Name" required>
  </h1>
    <h1>
  <span>Question Number: </span>
  {{questionNum}}
  <div>
  <button class ="btn btn-success btn-lg" type="button"(click)="easyMode()" *ngIf="!difficultyChosen">Easy ( + and - )</button>
  <button class ="btn btn-warning btn-lg" type="button"(click)="normalMode()" *ngIf="!difficultyChosen">Normal ( + , - and x )</button>
  <button class ="btn btn-danger btn-lg" type="button"(click)="hardMode()" *ngIf="!difficultyChosen">Hard ( + , - , x and /)</button>
  </div>
  <br>
  <div *ngIf="difficultyChosen">
    {{question}}
  </div>
  <br>
  <div>
    <input [(ngModel)]="answer" placeholder="Answer" required>
    <button (click)="checkAnswer()" *ngIf="difficultyChosen">Submit</button>
  </div>
  <div>
  <span>Score: </span>
  {{score}}
  </div>
  <div>
  {{countDown | async}}
  </div>
  <br>
</h1>
  <h2>
    Most Recent Scores:
    <div>
    <span> 1) </span>
    </div>
    <div>
    {{leaderboardOne}}
    </div>
    <div>
    <span> 2) </span>
    </div>
    <div>
    {{leaderboardTwo}}
    </div>
    <div>
    <span> 3) </span>
    </div>
    <div>
    {{leaderboardThree}}
    </div>
  </h2>
</div>
</div>
